body {
  font-family: Roboto Medium;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}
.main-header {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
h1 {
  font-size: 40px;
  line-height: auto;
  color: #000000;
}
li {
  list-style-type: none;
}
a {
  display:inline-block;
  vertical-align: top;
  text-decoration: none;
}
.show, {
  font-size: 12px;
  line-height: 18px;
  font-family: Roboto Bold;
}
p {
  font-family: Roboto Medium;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.sort {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}
.grid,
.choose {
    font-family: Roboto Medium;
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}
.paginator {
  height: 38px;
  margin-bottom: 79px;
  vertical-align: top;
}
.first,
.second,
.third {
  background: #f1f1f1;
  height: 38px;
  width: 38px;
  border-color: #f1f1f1;
  margin: 5px;
  float: left;
}

.next {
  font-size: 12px;
  background: #f1f1f1;
  width: 140px;
  min-height: 38px;
  margin: 5px;
  color: #000000;
  float-right: 10px;
}
.map-app {
  width: 1200px;
  height: 420px;
  border: 1px solid gray;
}
