@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../symbols-nerds.woff") format("woff"),
       url("../symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding: 0;
  margin: 0;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

html,
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin:0;
  padding:0;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0px auto;
}

img {
   max-width: 100%;
   height: auto;
}
.nowrap {
     white-space: nowrap;
}
.clearfix:after {
     content: ' ';
     display:table;
     clear:both;
}

.main-header {
    min-height: 126px;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
/*  outline: 1px solid red; */
}
a {
  text-decoration: none;
}
.index-logo {
     width: 140px;
     min-height: px;
  /*   outline: 3px solid yellow; */
     float: left;
     padding-top: 27px;
}
.main-navigation {
  /*  outline: 3px solid yellow;*/
    width: 700px;
    float: right;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: right;
}
.main-menu a {
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 58px;
    padding-right: 0px;
  /* outline: 3px solid yellow;*/
}
.top-menu-link a:hover,
.top-menu-link span:hover {
  color: red;
}
.top-menu-link, span {
  margin: 0 18px;
  vertical-align: top;
  display: inline-block;
}
.top-menu-link:nth-last-child {
  margin: 0;
}
.top-menu-link.menu-basket-link {
  margin: 0 0 0 40px;
}
.top-menu-link .active {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid #fb565a;
}

.icon-basket::before {
  content: "\62";
  margin-right: 14px;
}

.top-menu-link a,
.top-menu-link span {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.top-menu-link span {
  margin-right: 0;
}
.top-menu-link a:hover {
  color: #fb565a;
}
.top-menu-link a:active {
  color: #8f8f8f;
}

.main-navigation ul {
  padding: 0px;
}


/*/////////////////SLIDER///////////////////////////////////////*/

.slider-inner {
  width: 880px;
  height: 310px;
  position:relative;
}
.slide-image {
    width:338px;
    min-height:231px;
    outline: 1px solid green;
    float: right;
    margin-top: 10px;
}

.slider{
    height: 100%;
    margin:0 auto;
    background: #eeeeee;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom: 94px;
    left: 430px;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
  /*  outline: 1px solid black;*/
}
.slide-text{
    width:380px;
    padding:30px 0;
    margin: 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}
.slide-button {
    display:block;
    width:240px;
    padding: 9px 0;
    margin-top: 30px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slide:nth-child(1){
    background-image: url("../img/slide-image1.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image: url("../img/slide-image2.png");
    background-repeat:no-repeat;
    background-position: 640px 15px;
}
.slide:nth-child(3){
    background-image:url("../img/slide-image3.png");
    background-repeat:no-repeat;
    background-position: 540px -10px;
}



/*/////////////////SERVICES///////////////////////////////////////*/

.services {
  width: 880px;
  border-bottom: 2px solid #eeeeee;
  margin: 0 auto;
  padding: 0 10px;
}
.service-web-sites a {
  display:block;
  width:140px;
  padding:10px 0;
  margin-top: 28px;
  font-size:12px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background: #fb565a;
  border-radius:3px;
}

.service-apps a {
  display:block;
  width:140px;
  padding:10px 0;
  margin-top: 28px;
  font-size:12px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  border-radius:3px;
  background: #00ca74;
}
.service-presentations a {
  display:block;
  width:140px;
  padding:10px 0;
  margin-top: 28px;
  font-size:12px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  border-radius:3px;
  background: #efc84a;
}
.service-web-sites a:hover {
  background-color: #d6494d;
}
.service-apps a:hover {
  background-color: #01a25e;
}
.service-presentations a:hover {
  background-color: #d6ae2c;
}
.service-web-sites a:active {
  background-color: #b63538;
}
.service-apps a:active {
  background-color: #009053;
}
.service-presentations a:active {
  background-color: #c09b24;
}
.service-web-sites,
.service-apps{
    width: 240px;
    min-height: 300px;
/*    outline: 2px solid black;*/
    float: left;
    margin-right: 80px;
    padding:0;
}
.service-presentations {
    width: 240px;
    min-height: 300px;
  /*  outline: 2px solid black;*/
    float:right;
    margin: 0px;
    padding:0;
}
.service {
  margin-top: 80px;
  margin-bottom: 80px;
}
.service-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #283136;
}
.service h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.button-order {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
/* about us */

.about-us {
    min-height:341px;
    width: 571px;
  /*  outline: 2px solid green;*/
    margin-right: 60px;
    float:left;
    margin-top: 70px;
    margin-bottom: 73px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}
li {
  list-style-type: none;
}
.about-us-visual {
    min-height:341px;
    width: 230px;
    float:right;
    margin-top: 61px;
    margin-bottom: 73px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: 283136;
}
.text-bottom,
.about-us-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}
.about-us-title {
  margin-left: 0;
}
.about-us-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #283136;
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
    width: 100%;
    margin: 0;
    margin-top: 16px;
}
.about-us ul li {
  margin-bottom: 19px;
}
.about-us ul li:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 12px;
}
.year {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 22px;
  width: 230px;
  background-color: white;
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}
.object-nerds {
  margin-left: 20px;
  margin-top: -2px;
}
.year:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 2px;
  border-bottom: 2px solid #eeeeee;
  position: relative;
  margin-bottom: 5px;
  left: 0;
  top: 0px;
}
.year span:after {
    content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 2px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 105%;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 5px;

}
.year span {
  display: inline-block;
  position: relative;
  background-color: white;
  z-index: 2;
  width: 86px;
  margin: 0 5px;
}
.map-app {
    min-height: 416px;
    width: 100%;
  /*  outline: 2px solid green;*/
}
.text-top h1 {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-bottom: 93px;;
}
.feature h2,
.text-bottom,
.about-us-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
}
.about-us-visual h4 {
  margin-top: 64px;
  margin-bottom: 25px;
  margin-left: -7px;
}
.about-us-list {
  padding-left: 3px;
  font-weight: 500;
}
.about-us h4 {
  margin-top: 43px;
  margin-bottom: 25px;
}
.about-us-visual li::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 11px;
}
.about-us-visual li {
margin-bottom: 19px;
}
.text-top {
  margin:0;
  padding-left: 213px;
  height: 202px;
  font-weight: 500;
  background-color: #eeeeee;
}
a.glukhanko-cite:hover {
  opacity: 1;
}
a.academy-cite:hover {
  opacity: 1;
}
a.borodinsky-cite:hover {
  opacity: 1;
}
a.glukhanko-cite {
    width: 198px;
    height: 37px;
    margin-right: 128px;
    vertical-align:  middle;
    padding-left: 11px;
    opacity: 0.2
}
a.borodinsky-cite {
  width: 209px;
  height: 86px;
  vertical-align:  middle;
  opacity:0.2
}
a.academy-cite {
  width: 199px;
  height: 68px;
  margin-right: 124px;
  vertical-align: middle;
  opacity:0.2
}
.logos {
  height: 100px;
  width: 880px;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  padding-right: 20px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 4px;
  margin-bottom: 50px;
}
.logos a {
  display: inline-block;
}
.communication {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  color: #666666;
  line-height: 20px;
  text-align: left;
  background-color: white;
  padding: 25px 0px;
  z-index: 500;
  position: absolute;
  margin-top: 90px;
  margin-left: 176px;
  padding-right: 23px;
  padding-bottom: 30px;
}
.communication-head {
  text-transform: uppercase;
  line-height: 25px;
  color: #000000;
}
.communication p {
  margin-left: 20px;
}
.number {
  color: #666666;
  display: block;
  margin: 0 20px;
}
.button-write-us {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  display: block;
  vertical-align: top;
  padding-top: 12px;
  margin-top: 30px;
  margin-left: 24px;
  width: 204px;
  height: 26px;
  background-color: #fb565a;
  border-radius: 3px;
  text-decoration: none;
}
.button-show, {
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sort {
  text-transform: uppercase;
  width: 495px;
  float: left;
  margin:0;
  padding: 0;
  margin-bottom: 2px;
}
.sort-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-right: 41px;
  float: left;
  margin-top: -5px;
  margin-left: -2px;
/*  outline: 1px solid black;/*/*
}
.sort a {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}
.sort a:hover {
  opacity: 1;
}
.sort li {
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-right: 45px;
    border-bottom: 1px dotted #00ca74;
}
.sort li:hover {
    color: #000000;
    border-bottom: 1px solid #00ca74;
}
.sort li:nth-child(3) {
  margin:0;
}
.sort li:nth-last-child {
  margin-right: 0px;
}
.sort li::active {
  color:;
  border: none;
}
.sort ul {
  width: 365px;
  float: left;
  padding: 0;
  margin-top: -5px;
}
.about-us-visual ul {
  padding: 0;
  margin:0;
}
.top-text {
  display: inline-block;
  margin-left: 47px;
}
.range-filter {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  width: 240px;
  padding: 0;
  margin: 0;
}
.filter-head{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  tont-size: 18px;
  line-height: 30px;
  color: #000000;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 145px;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  font-weight: 500;
  text-transform: uppercase;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 60px;
  margin-left: 6px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.price-controls {
  font-size: 0;
}
.regulation {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  color: #283136;
  font-size: 16px;
  line-height: 20px;
}
.grid-functions {
  font-size: 0;
  padding: 0;
  position: relative;
  padding-top: 0px;
}
.grid-functions li {
  font-size: 16px;
  line-height: 36px;
  color: #283136;
  padding: 3px 0 3px 0;

}
.features-head,
.grid-head {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.grid {
  min-height: 148px;
}
.grid fieldset legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}
.grid-functions input[type="radio"] + label:before {
  content: "\25cb";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  font-family: "symbols-nerds";
  font-size: 28px;
  color: #c1c1c1;
  margin-right: 10px;
}
.grid-functions input[type="radio"]:checked + label:before {
  content:"\25cf";
  display: inline-block;
  vertical-align: top;
  font-family: "symbols-nerds";
  font-size: 28px;
  color: #c1c1c1;
  margin-right: 10px;
}
.grid-functions input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 35px;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
.features input[type="checkbox"] + label:before {
  content: "\2610";
  display: inline-block;
  vertical-align: top;
  font-family: "symbols-nerds";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}
.features input[type="checkbox"]:checked + label:before {
  content: "\2611";
  font-family: "symbols-nerds";
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  color: #c1c1c1;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  line-height: 35px;
  cursor: pointer;
}
.button-show {
  width: 155px;
  height: 38px;
  background-color: #f1f1f1;
  border: none;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-transform:uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.catalog-content {
  min-height: 1285px;
  width: 880px;
  padding: 0;
  margin:0;
}
.block-left {
  width: 240px;
  float:left;
  margin:0;
  padding:0;
  margin-top: 74px;
  margin-right: 80px;
}
.block-right {
  width: 560px;
  min-height: 1005px;
  float: right;
/*  outline: 1px solid blue;*/
  padding: 0;
  margin:0;
  margin-top: 83px;
  margin-bottom: -6px;
}
.filter {
    height: 220px;
    float: left;
  /*  outline: 1px solid black;*/
}
.form.php {
/*  outline: 1px solid black;*/
  margin: 0;
  padding: 0;
}
.range-filter {
  /*outline: 1px solid black;*/
  margin: 0;
  padding: 0;
 }
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform:uppercase;
  padding: 0;
  margin: 0;
/*  outline: 1px solid black;*/
}
.filter-text {
  margin-bottom: 14px;
  font-weight: 500;
}
.choose-features {
  margin: 0;
  padding: 8px 0 47px 0;
}
.choose-features li {
padding-bottom: 5px;
}
.features legend {
  margin-top: 36px;
}
.model {
 /*outline: 2px solid black;*/
 width: 240px;
 height: 270px;
 display: block;
 float: left;
 margin: 0;
 padding: 0;
 margin-bottom: 51px;
 border-top: 30px solid #f1f1f1;
 border-radius: 5px 5px 0 0;
 z-index: 1;
 position: relative
}
.model-aviator,
.model-forte,
.model-avenue {
  margin-right: 80px;
}
.model:hover {
  border-top: 30px solid #797979;
  border-radius: 5px 5px 0 0;
}
.model::before {
  content: " ";
  position: absolute;
  top: -20px;
  left: 12px;
  width: 44px;
  height: 10px;
  background: url("../img/circles.png") no-repeat;
  z-index: 20;
}
.paginator {
  height: 38px;
 /*width: 284px;*/
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  clear:both;
  margin-left: 315px;
}
.pagination-item {
  background: #f1f1f1;
 margin: 5px;
 float: left;
 text-align: center;
 color: black;
 font-weight: 500;
 border-radius: 2px;
 width: 34px;
 height: 27px;
 padding-top: 6px;
 border: 2px solid #f1f1f1;
}
.pagination-item:nth-child(1) {
  background: none;
  border: 2px solid #f1f1f1;
  margin: 5px;
  float: left;
  text-align: center;
  color: black;
  font-weight: 500;
  border-radius: 2px;
  width: 34px;
  height: 27px;
  padding-top: 6px;
}
.next {
  font-size: 12px;
  background: #f1f1f1;
  width: 140px;
  min-height: 26px;
  margin: 5px;
  color: #000000;
  float-right: 10px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  width: 138px;
  border: 2px solid #f1f1f1;
}
.map-app {
  width: 1200px;
  height: 420px;
  border: 1px solid gray;
  margin: 0 auto;
  padding: 0 10px;
}
.icon {
  width: 240px;
  height: 63px;
  outline: 1px solid gray;
  float:left;
  margin-right: 78px;
}
.paragraph-bottom {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.filter-head {
  text-transform: uppercase;
}
.window {
  width: 200px;
  height: 165px;
  background-color: white;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 700;
  padding-top: 35px;
  text-align: center;
  display: none;
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
     -o-transition: all .25s;
     transition: all .25s;
}
.window span{
  font-size: 18px;
  line-height: 9px;
  color: #000000;
}
.description {
  font-size: 14px;
  line-height: 18;
  color: #283136;
}
.window a {
  display: block;
  width: 140px;
  height: 22px;
  border-radius: 3px;
  background-color: #fb565a;
  font-size: 18px;
  line-height: 9px;
  color: white;
  margin-top: 28px;
  margin-left: 30px;
  padding-top: 15px;
}
.window a:hover {
  background-color: #d6494d;
}
.window a:active {
  background-color: #b63538;
}
.model:hover .window {
  display: block;
}
.description {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}
.active {
  color: #f00;
}
.contacts {
    min-height:63px;
    width: 880px;
/*    outline: 2px solid green;*/
    margin-top: 74px;
    margin-bottom: 76px;
    padding:0;
    padding-bottom: 77px;
}
.text-bottom {
 /* outline: 2px solid yellow;*/
  width: 550px;
  float: left;
}
.text-bottom-big {
  display: inline-block;
  margin: 0px;
}
.text-bottom-small {
 font-family: 'Roboto', 'Arial', sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 3px;
 color: #283136;
}
.social-buttons {
/*  outline: 1px solid black;*/
  width:310px;
  float: left;
  margin-right: 10px;
}
.social {
  display: inline-block;
  margin-right: 27px;
  vertical-align: middle;
  width: 62px;
	height: 62px;
  font-size: 23px;
	background: #e1e1e1;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 60px;
  /*outline: 2px solid yellow;*/
 }
 .social-buttons .social:nth-child(1),
 .social-buttons .social:nth-child(2) {
   margin-right: 23px;
 }
 .icon-vk,
 .icon-instagramm,
 .icon-facebook {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   color: white;
   position: relative;
   top: 18px;
   left: 1px;
 }
 .social:hover {
   background: #fb565a;
 }
 .social:active {
   background: #d6494d;
 }

.circle {
  display: inline-block;
  width: 10px;
	height: 10px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
  margin: 0;
	border-radius: 5px;
  margin-right: 7px;
}
.model:hover {
  opacity: 1;
}

.map-app {
  z-index: 1;
}
.textarea-letter {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  width: 442px;
  height: 103px;
  padding-left: 13px;
  text-align: top;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-top: 6px;
  margin-top: 10px;

}
.modal-content {
  width: 630px;
  height: 416px;
/*  outline: 1px solid black;*/
  margin: 0;
  padding-left: 80px;
  padding-top: 55px;
  box-sizing: border-box;
  position: absolute;
  top: 1600px;
  left: 50%;
  margin-left: -310px;
  background-color: white;
  z-index: 500;
  box-shadow: 5px 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
	height: 41px;
	background-color:  #fb565a;
	-moz-border-radius: 41px;
	-webkit-border-radius: 41px;
	border-radius: 41px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 9px;
  width: 22px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.button-send {
  font-size: 12px;
  line-height: 18px;
  color: white;
  width: 460px;
  height: 38px;
  border: none;
  background-color: #fb565a;
  border-radius: 2px;
}
.input-text {
  display: block;
  outline: 1px solid black;
  float: left;

}
textarea {
  resize: none;
}
.textarea-text {
  margin-bottom: 22px;
  float:left;
  padding: 0;
  margin-top: 18px;
  color: #000000;
}
.input-field-name {
  float: left;
  margin-right: 20px;
}
.input-field-name label {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.input-field-name input {
  width: 203px;
  height: 35px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  padding-left: 14px;
  margin-top: 10px;
}
.input-field-email {
  float: left;
}
.input-field-email label {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 10px;
}
.input-field-email input {
  width: 203px;
  height: 35px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  padding-left: 14px;
  margin-top: 10px;
}
textarea {
  border: none;
}
.toggles {

  float: right;
  padding: 0;
  margin: 0;
  width: auto;
}
a.icon-down-dir {
  content: "\25bc";
  font-family: 'Roboto', 'Arial', sans-serif;
  display: inline-block;
  vertical-align: top;
  float: right;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 20px;
  margin: -7px -2px 4px 0;
}
a.icon-up-dir {
  content: "\25b2";
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 6px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 20px;
  margin: -6px -4px 4px 0;
  padding: 0;
}
.toggles a:active {
  color: #000000;
}
/*.toggles a:nth-child(1) {
  content: "\25bc";
  font-family: 'Roboto', 'Arial', sans-serif;
  display: inline-block;
  vertical-align: top;
  float: right;
  color: #b5b5b5;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.toggles a:nth-child(2) {
  content: "\25b2";
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 6px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #b5b5b5;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
  margin: 0 3px 0 0;*/
}

.location {
 width: 1200px;
 height: 420px;
 outline: 1px solid black;
}
