body {
  font-family: Roboto Medium;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin:0;
  padding:0;
}
header {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1 {
    font-size: 40px;
    line-height: auto;
    color: #000000;
    text-transform: uppercase;
}
h2,
.text-bottom,
.about-us-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: Roboto Medium;
}
.year {
  font-family: Roboto Medium;
  font-sise: 16px;
  line-height: 8,56;
  color: #000000;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: Roboto Medium;
  text-transform: uppercase;
}
.service-text {
  font-family: Roboto Medium;
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}
.index-logo {
  width:139px;
}
.top-menu {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    width: 396px;
    clear: both;
    margin: 23px;
    background-color: #eeeeee;
    text-transform: uppercase;
}
.text-top,
.slider {
  background-color: #eeeeee;
  margin:0;
  padding:0;
}
a {
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.glukhanko-cite {
  width: 198px;
  height: 37px;
  margin-right: 121px;
  vertical-align: middle;
}
.academy-cite {
  width: 199px;
  height: 68px;
  margin-right: 124px;
  vertical-align: middle;
}
.borodinsky-cite {
  width: 209px;
  height: 86px;
  vertical-align: middle;
}
li {
  list-style-type: none;
}
.slide-item-button,
.button-order {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.button-show, {
  font-size: 12px;
  line-height: 18px;
  font-family: Roboto Bold;
  text-transform: uppercase;
}

.sort {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.regulation {
    font-family: Roboto Medium;
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}
.features-head,
.grid-head {
  font-family: Roboto Medium;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.paginator {
  height: 38px;
  margin-bottom: 79px;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.pagination-item {
  background: #f1f1f1;
  height: 38px;
  width: 38px;
  border-color: #f1f1f1;
  margin: 5px;
  float: left;
}

.next {
  font-size: 12px;
  background: #f1f1f1;
  width: 140px;
  min-height: 38px;
  margin: 5px;
  color: #000000;
  float-right: 10px;
  text-transform: uppercase;
}
.map-app {
  width: 1200px;
  height: 420px;
  border: 1px solid gray;
}
.filter-head {
  text-transform: uppercase;
}
.window {
  font-size: 18px;
  line-height: 8,56px;
  color: #000000;
}
.description {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}
