html,
body {
  font-family: 'Roboto Medium';
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin:0;
  padding:0;
  min-width: 1200px;
  min-height: 1750px;
}
.main-header {
    min-height: 126px;
    background-color: #eeeeee;
}

.container {
  width: 900px;
  margin: 0 auto;
  outline: 3px solid red;
  padding: 0 10px;
  font-size: 0px;
}
.index-logo {
     width: 139px;
     min-height: px;
     outline: 3px solid yellow;
     float: left;
     padding-top: 27px;
}
.main-navigation {
    outline: 3px solid yellow;
    width: 560px;
    min-height: 126px;
    float: right;
    color: #000000;
    text-transform: uppercase;
}
.top-menu-link {
    display: inline-block;
    margin-right: 46px;
    font-size: 14px;
    margin-top: 55px;
}
.top-menu-link:nth-last-child {
}
ul {
  padding-left: 0;
}
.slider-inner {
    min-height: 231px;
    outline: 3px solid yellow;
}
.feature {
    min-height: 231px;
    width: 460px;
    outline: 3px solid blue;
    float: left;
    font-family: 'Roboto Medium';
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.slide-image {
    width:338px;
    min-height:231px;
    outline: 1px solid green;
    float: right;
}
.clearfix:after {
    content: ' ';
    display:table;
    clear:both;
}
.service-web-sites,
.service-apps{
    width: 241px;
    min-height: 300px;
    outline: 2px solid black;
    float: left;
    margin-right: 88px;
}
.service-presentations {
    width: 241px;
    min-height: 300px;
    outline: 2px solid black;
    float:right;
    margin: 0px;
}
.service {
  margin-top: 80px;
  margin-bottom: 80px;
}
.service-text {
    font-family: 'Roboto Medium';
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}
.slide-item-button,
.button-order {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.about-us {
    min-height:341px;
    width: 571px;
    outline: 2px solid green;
    margin-right: 68px;
    float:left;
    margin-top: 74px;
    margin-bottom: 73px;
    font-family: 'Roboto Medium';
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}
li {
  list-style-type: none;
}
.about-us-visual {
    min-height:341px;
    width:225px;
    outline: 2px solid green;
    float:right;
    margin-top: 74px;
    margin-bottom: 73px;
    font-family: 'Roboto Medium';
    font-size: 16px;
    line-height: 22px;
    color: 283136
}
.text-bottom,
.about-us-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: 'Roboto Medium';
}
.about-us-text {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}
.year {
  font-family: 'Roboto Medium';
  font-size: 16px;
  line-height: 8,56;
  color: #000000;
  text-transform: uppercase;
}
.map-app {
    min-height: 416px;
    width: 100%;
    outline: 2px solid green;
}
.contacts {
    min-height:63px;
    width: 900px;
    outline: 2px solid green;
    margin-top: 78px;
    margin-bottom: 76px;
    padding-bottom: 77px;
}
h1 {
    font-style: 'Roboto Medium';
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-bottom: 93px;;
}
h2,
.text-bottom,
.about-us-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: 'Roboto Medium';
}
h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: 'Roboto Medium';
  text-transform: uppercase;
}
/*
.top-menu {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    width: 396px;
    clear: both;
    margin: 23px;
    background-color: #eeeeee;
    text-transform: uppercase;
}
*/
.text-top,
.slider {
  background-color: #eeeeee;
  margin:0;
  padding:0;
}
.text-top {
    height: 202px;
}
a {
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.glukhanko-cite {
  width: 198px;
  height: 37px;
  margin-right: 121px;
  vertical-align: middle;
}
.academy-cite {
  width: 199px;
  height: 68px;
  margin-right: 124px;
  vertical-align: middle;
}
.borodinsky-cite {
  width: 209px;
  height: 86px;
  vertical-align: middle;
}
.logos-of-cites {
  height: 170px;
  margin-bottom: 85px;
}
.button-show, {
  font-size: 12px;
  line-height: 18px;
  font-family: Roboto Bold;
  text-transform: uppercase;
}
.sort {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  float: left;
}
.top-text {
    display: inline-block;
    margin-left: 47px;
}
.regulation {
    font-family: 'Roboto Medium';
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}
.features-head,
.grid-head {
  font-family: 'Roboto Medium';
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.pagination-item {
  background: #f1f1f1;
  height: 38px;
  width: 38px;
  border-color: #f1f1f1;
  margin: 5px;
  float: left;
}

.next {
  font-size: 12px;
  background: #f1f1f1;
  width: 140px;
  min-height: 38px;
  margin: 5px;
  color: #000000;
  float-right: 10px;
  text-transform: uppercase;
}
.catalog-content {
    min-height: 1285px;
}
.block-left {
    width: 240px;
    outline: 1px solid black;
    float:left;
    margin-top:83px;
}
.block-right {
    width: 560px;
    min-height: 1005px;
    float:right;
    outline: 1px solid blue;
    padding: 0px;
    margin-top: 83px;
    margin-bottom: 80px;
}
.filter {
    height: 240px;
}
.model {
 outline: 2px solid black;
 width: 240px;
 height: 270px;
 display: inline-block;
 float:left;
 margin-bottom: 80px;
}
.model:nth-child(2n) {
    float: right;
}
.model-avenue,
.model-dovetail {
    margin-bottom:0px;
}
.paginator {
  height: 38px;
 /*width: 284px;*/
  margin-bottom: 79px;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  clear:both;
  margin-bottom: 79px;
  margin-left:320px;
}
.map-app {
  width: 1200px;
  height: 420px;
  border: 1px solid gray;
}
.icon {
    width: 240px;
    height: 63px;
    outline: 1px solid gray;
    float:left;
    margin-right: 78px;
}
.text-bottom {
    display: inline-block;
    margin: 0px;
}
.paragraph-bottom {
    font-family: 'Roboto Bold';
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}
.filter-head {
  text-transform: uppercase;
}
.window {
  font-size: 18px;
  line-height: 8,56px;
  color: #000000;
}
.description {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
}
